@import '../../../styles/colors';


.bio-page-div {
  flex-direction: row;
}

.image {
  height: auto;
  width: 35%;
  // margin: 1%;
  padding: 1%;
  text-align: center;
}

.bio {
  padding: 2% !important;
  margin: 1%;
  background-color: $orange;
  height: auto;
  width: 35%;
  align-items: middle;
  color: white;
  p {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: min(max(9px, 12px), 11px);
  }
}

.card-title {
  text-align: center;
  text-emphasis: bold;
  text-transform: uppercase;
  font-family: $bitter;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFD0AE 50%);
}

@media only screen and (max-width: 850px) {
  .image, .bio {
    width: 45%;
    height: auto;
  }
}

@media only screen and (max-width: 660px) {
  #bioPage {
    .bio-page-div {
      flex-direction: column !important;
    }
    .bio, .bio-img, .image {
      width: 100%;
      height: auto;
    }
  }
}