$orange: #c26b52;
$yellow: #e9b323; //#f0cb69;
$green: #617574;
$beige: #f4f0ed; //#ebe3dd; //#e2d5cd;
$white: white;
$lightgreen: #BFC3BA; // #DFD6A7; // #DBCFB0; // #B1C1C0; //
$lightergreen: #e5e7e3;
$text: #454545;

// darkmode:
$darkbackground: #565656;