@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import "../styles/colors";

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: $text;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

footer {
    i {
    color: $white;
    }
    .social-icon {
      margin: 2rem;
      font-size: 2rem;
      a {
        padding: 1rem;
      }
    }
    li {
      list-style: none;
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }

}

.hide {
  display: none;
}

#technologiesPage, #bioPage, #projectsPage {
    margin: auto;
    max-width: 100vw;
    padding: 2% 10%;
  }

.yellow {
  color: $yellow;
}