@import "../../../styles/colors";

body {
  background-color: $white;
}

#projectsPage {
  background-color: $lightgreen;
}

.single-project {
  margin: 2%;
  padding: 2%;
  background-color: $lightergreen !important;
  p {
    font-size: 0.6em;
  }
  .card-title {
    color: $orange;
    font-weight: bold;
  }
  .card-body {
    margin: 2%;
  }
}

.project-title-background {
  color: $orange;
  line-height: 6rem;
  padding: 0;
  .project-title {
    font-weight: bold;
    padding: 0 10% 0 0;
  }
}