@import '../../../styles/colors';

#main-header {
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}
  .nav-section {
    text-transform: uppercase;
    font-size: 1.5rem;
    align-items: center;
    width: 101%;
    position: fixed;
    top: 0;
    background-color: white;
    a {
      color: $orange;
      text-decoration: none;
    }
    -webkit-box-shadow: 0 6px 4px -4px rgba(0,0,0,0.4);
    -moz-box-shadow:    0 6px 4px -4px rgba(0,0,0,0.4);
    box-shadow:         0 6px 4px -4px rgba(0,0,0,0.4);
  }
  .logo {
    height: auto;
    width: 100%;
    max-width: 40px;
    margin: 0 1% 0 0;
  }

  .body {
    margin-top: 50px;
  }

// .h1-kelsey {
// text-transform: uppercase;
// z-index: 1;
// position: absolute;
// bottom: 50%;
// left: 25%;
// transform: translateX(-50%);
// font-size: 4rem;
// font-weight: bold;
// color: $green;
// margin: 1%;
// }
