@import '../../../styles/colors';

#main-header {
  width: 100%;
  height: 60vh;
  padding: 0;
  background-color: $beige;
  overflow: hidden;
  .nav-section {
    text-transform: uppercase;
    a {
      color: $orange;
      text-decoration: none;
    }
  }
}
#header-div {
  overflow: hidden;
}

.h1-kelsey {
text-transform: uppercase;
z-index: 1;
position: absolute;
bottom: 50%;
left: 25%;
transform: translateX(-50%);
font-size: 4rem;
font-weight: bold;
color: $green;
margin: 1%;
}
